<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <add key="oLicenseServer" value="192.168.0.250"/>
    <add key="oServer" value="192.168.0.250"/>
    <add key="oCompanyDB" value="SBODEV_TESTDB"/>
    <add key="olocalDB" value="LMDETAILSDB"/>
    <add key="oDbUserName" value="sa"/>
    <add key="oDbPassword" value="Sb1@MYFC"/>
    <add key="oUserName" value="manager"/>
    <add key="oPassword" value="B1Admin"/>

  </appSettings>


 
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>


</configuration>
